<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography - Alaye Dong</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/photography.css">
</head>

<body class="page" id="root">
    <header>
        <nav>
            <img class="logo" src="../images/logo.png" alt="Alaye Dong's Logo">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="photography.html">Photography</a></li>
                <li><a href="playground.html">Playground</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="photo-gallery">
            <div class="photo-item">
                <img src="../images/photography/1.avif" alt="Photo 1" class="photo-thumbnail">
            </div>
            <div class="photo-item">
                <img src="../images/photography/2.avif" alt="Photo 2" class="photo-thumbnail">
            </div>
            <div class="photo-item">
                <img src="../images/photography/3.avif" alt="Photo 3" class="photo-thumbnail">
            </div>
            <div class="photo-item">
                <img src="../images/photography/4.avif" alt="Photo 4" class="photo-thumbnail">
            </div>
            <div class="photo-item">
                <img src="../images/photography/5.avif" alt="Photo 5" class="photo-thumbnail">
            </div>
            <div class="photo-item">
                <img src="../images/photography/6.avif" alt="Photo 6" class="photo-thumbnail">
            </div>

        </section>

        <!-- 模态框 -->
        <div id="photoModal" class="modal">
            <span class="close" id="closeModal">&times;</span>
            <img class="modal-content" id="modalImage">
            <div id="caption"></div>
        </div>
    </main>
    <script src="../js/img-modal.js"></script>
    <footer>
        <p>示例摄影图来自https://unsplash.com/explore</p>
        <p>© 2024 Alaye Dong. All Rights Reserved.</p>
    </footer>
</body>

</html>