<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography - Alaye Dong</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/playground.css">
    <!-- 引入js -->
    <script src="../js/lib/js-confetti.browser.js"></script>
    <script defer src="./snake/bundle.js"></script>
</head>

<body class="page" id="root">
    <header>
        <nav>
            <img class="logo" src="../images/logo.png" alt="Alaye Dong's Logo">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="photography.html">Photography</a></li>
                <li><a href="playground.html">Playground</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <button id="triggerConfetti">🎉!</button>
        <button onclick="window.location.href='./snake/index.html'">🐍!</button>
        <div id="plane">
            <i aria-hidden="true">✈</i>
        </div>
        <script src="../js/plane.js"></script>

        <div id="main">
            <div id="stage">
                <div id="snake">
                    <div></div>
                </div>

                <div id="food">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="score-panel">
                <div>
                    SCORE: <span id="score">0</span>
                </div>
                <div>
                    LEVEL: <span id="level">1</span>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            使用↑↓←→控制方向开始游戏🐍，刷新则重新开始
        </div>
    </main>

    <footer>
        <p>© 2024 Alaye Dong. All Rights Reserved.</p>
    </footer>

    <script src="../js/confetti.js"></script>
</body>

</html>