<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/projects.css">
</head>

<body class="page" id="root">
    <header>
        <nav>
            <img class="logo" src="../images/logo.png" alt="Alaye Dong's Logo">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h1>我的项目</h1>
            <p class="intro-text">这里是我的一些开源项目，欢迎⭐</p>
        </section>

        <!-- From Uiverse.io by alexruix  -->
        <div class="card-group">
            <div class="card">
                <div class="card-details">
                    <p class="text-title">JXUT-BST-IO-VitePress</p>
                    <p class="text-body">使用Vitepress构建的蓝色技术工作室官网</p>
                </div>
                <button class="card-button"
                    onclick="window.location='https://github.com/Alaye-Dong/JXUT-BST-IO-VitePress';">更多详情</button>
            </div>

            <div class="card">
                <div class="card-details">
                    <p class="text-title">grove-apple-recognition</p>
                    <p class="text-body">基于 Grove Vision AI V2 的苹果识别</p>
                </div>
                <button class="card-button"
                    onclick="window.location='https://github.com/Alaye-Dong/grove-apple-recognition';">更多详情</button>
            </div>

            <div class="card">
                <div class="card-details">
                    <p class="text-title">Battery-Caretaker</p>
                    <p class="text-body">基于国芯STC32F的智能汽车电池监护系统</p>
                </div>
                <button class="card-button"
                    onclick="window.location='https://github.com/Alaye-Dong/Battery-Caretaker';">更多详情</button>
            </div>
        </div>

    </main>

    <footer>
        <p>© 2024 Alaye Dong. All Rights Reserved.</p>
    </footer>
</body>

</html>